@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body{
font-family: Tahoma;
line-height: 1.5rem;
background-image:
color: #edff2b;
}

.container{
max-width: 1300px;
padding: 0 80px;
margin: auto;
}
h1{
font-size: 35px;
font-weight: 500;
}
h2{
text-align: center;
padding: 1rem;
}
h3{
padding: 1rem;
}
.primary-color{
color: #ddf716;
}
.secondary-color{
color: #1e82d9 ;
}
.primary-text{
color: #1e82d9;
}

.margin{
margin-left: 3.5rem;
}
.btn{
font-size: 18px;
display: inline-block;
padding: 0.5rem;
margin: 0.5 0rem;
background: green;
color: #fff;
border-radius: 5px;
border: none;
}
.btn-2{
font-size: 18px;
display: inline-block;
padding: 0.3rem 0.5rem;
margin: 0.5rem;
border: blue solid;
color: blue;
border-radius: 5px;
}


#navbar{
position: fixed;
width: 100%;
padding: 1rem;
background: #black;
}
#navbar .container{
display: flex;
align-items: center;
justify-content: space-between;
z-index: 1;
}
#navbar .container .logo a{
color:#fff;
}
#navbar .menu li{
list-style: none;
display: inline-block;
}
#navbar .menu li a{
font-size: 18px;
font-weight: 600;
padding: 0.45rem;
margin: 0 0.25rem;
color: #c0c0c0;

}
#navbar .menu li a:hover{
color: #fff;
}


#home{
display: flex;
background-image: url('/images/image1.jpg') no-repeat center;
height: 100vh;
min-height: 500px;
}

#home .container{
margin: auto 0px auto 2rem;
}

#home .home-content .text-1{
font-size: 29px;
margin: 1.2rem;
}
#home .home-content .text-2{
font-size: 65px;
font-weight: 500;
margin: 1rem;
}
#home .home-content .text-3{
font-size: 32px;
margin: 1.2rem;
}
#home .home-content .text-3 span{
color: #0000ff;
font-weight: 600;
}
#home .btn{
margin-left: 1rem;
font-size: 1.5rem;
}
#home .column{
  width: 100%;
  float: left;
  height: 100%;
}
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
#home .column {
  float: left;
  width: 100%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
#home .row:after {
  content: "";
  display: table;
  clear: both;
}
