@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body{
font-family: Tahoma;
line-height: 1.5rem;
/* background-image: */
color: #edff2b;
}

.container{
max-width: 1300px;
padding: 0 80px;
margin: auto;
}
h1{
font-size: 60px;
font-weight: 500;
}
h2{
  text-align: center;
  padding: 1rem;
  color: #1e82d9;
  border: blue solid;
  font-size: 40px;
}
h3{
padding: 1rem;
color: yellow;
}
p{
  color: white;
  font-size: 20px;
}
.primary-color{
color: #ddf716;
}
.secondary-color{
color: #1e82d9 ;
}
.primary-text{
color: #1e82d9;
}

.margin{
margin-left: 3.5rem;
}
.btn{
font-size: 18px;
display: inline-block;
padding: 0.5rem;
margin: 0.5 0rem;
background: green;
color: #fff;
border-radius: 5px;
border: none;
}
.btn-2{
font-size: 18px;
display: inline-block;
padding: 0.3rem 0.5rem;
margin: 0.5rem;
border: blue solid;
color: blue;
border-radius: 5px;
}


#navbar{
position: fixed;
width: 100%;
padding: 1rem;
background: black;
}
#navbar .container{
display: flex;
align-items: center;
justify-content: space-between;
z-index: 1;
}
#navbar .container .logo a{
color:#fff;
}
#navbar .menu li{
list-style: none;
display: inline-block;
}
#navbar .menu li a{
font-size: 18px;
font-weight: 600;
padding: 0.45rem;
margin: 0 0.25rem;
color: #c0c0c0;
border: blue solid;

}
#navbar .menu li a:hover{
color: green;
}

    /* The added CSS code begins here.  */
#profile-image {
  border-radius: 50%;
}
.profile-image {
  margin-top: 100px;
}
#home {
display: flex;
flex-direction: row;
background-image: url('/images/image1.jpg') no-repeat center;
height: 100vh;
min-height: 500px;
margin-left: 100px;
margin-top: 100px;
}

    /* The added CSS code ends here. I did some editing so compare with the original one. */

.container {
margin: auto 0px auto 2rem;
}

#home .home-content .text-1{
font-size: 36px;
margin: 5rem;
color: #cef0e6;
}
#home .home-content .text-2{
font-size: 80px;
font-weight: 500;
margin: 5rem;
color: #cef0e6;
}
#home .home-content .text-3{
font-size: 50px;
margin: 5rem;
color: yellow;
}
#home .home-content .text-3 span{
color: #0000ff;
font-weight: 600;
}
#home .btn{
margin-left: 1rem;
font-size: 1.5rem;
}
#home .column{
  width: 100%;
  float: left;
  height: 100%;
}
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
#home .column {
  float: left;
  width: 100%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
#home .row:after {
  content: "";
  display: table;
  clear: both;
}

/* Portfolio css*/
.portfolio .container h2{
margin-top: .5rem;
}
.projects{
display: flex;
flex-wrap: wrap;
padding: .5rem;
}
.project{
flex: 1;
padding: 1.5rem;

}
.img-container img{
max-width: 450px;
}
.project-content{
max-width: 450px;

}
.stack-container{
display: flex;
align-items: center;
justify-content: space-between;
padding: .2rem;
margin-right: 1rem;
}

.stack-container li {
list-style: none;

}

.stack-container li a {
color: #000;
font-weight: 600;
}

.btn-container{
display: flex;
align-items: center;
justify-content: space-between;

}



/* About */
#about p{
padding: .5rem;
margin-bottom: 0.5rem;
}
#about .btn{
margin-left: .5rem;
}
.about-content {
display: flex;
padding: 1rem;
}

.about-content .column {
flex: 1;
padding: 1rem;
}

.pro-languages{
display: flex;
align-items: center;
flex-wrap: wrap;
justify-content: space-between;
}
.pro-languages .language {
flex: 1;
text-align: center;
padding: 1rem ;
margin: 1.32rem;
}

.pro-languages .language i {
background: blue;
border-radius: 50%;
margin-bottom: .5rem;
margin-top: -1rem;
}

.pro-languages .language h3 {
margin-bottom: 2rem;
}
